simple-rpc-spring/src/main/resources/META-INF/rpc.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="http://rpc.zz.com/schema/rpc"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:tool="http://www.springframework.org/schema/tool"
            xmlns:beans="http://www.springframework.org/schema/beans"
            targetNamespace="http://rpc.zz.com/schema/rpc">

    <xsd:import namespace="http://www.w3.org/XML/1998/namespace"/>
    <xsd:import namespace="http://www.springframework.org/schema/tool"/>
    <xsd:import namespace="http://www.springframework.org/schema/beans"/>

    <xsd:element name="service">
        <xsd:complexType>
            <xsd:attribute name="interfaceClass" type="xsd:token" use="required">
                <xsd:annotation>
                    <xsd:documentation><![CDATA[ The service interface class name. ]]></xsd:documentation>
                    <xsd:appinfo>
                        <tool:annotation>
                            <tool:expected-type type="java.lang.Class"/>
                        </tool:annotation>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ref" type="xsd:string" use="optional">
                <xsd:annotation>
                    <xsd:documentation><![CDATA[ The service implementation instance bean id. ]]></xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>

    <xsd:element name="referer">
        <xsd:complexType>
            <xsd:attribute name="interfaceClass" type="xsd:token" use="required">
                <xsd:annotation>
                    <xsd:documentation><![CDATA[ The service interface class name. ]]></xsd:documentation>
                    <xsd:appinfo>
                        <tool:annotation>
                            <tool:expected-type type="java.lang.Class"/>
                        </tool:annotation>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="id" type="xsd:ID"/>
        </xsd:complexType>
    </xsd:element>

    <xsd:element name="registry">
        <xsd:complexType>
            <xsd:attribute name="id" type="xsd:ID"/>
            <xsd:attribute name="name" type="xsd:string"/>
            <xsd:attribute name="protocol" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation><![CDATA[ protocol default zookeeper ]]></xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="address" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation><![CDATA[ registry address, ip:port,ip:port ]]></xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>

    <xsd:element name="server">
        <xsd:complexType>
            <xsd:attribute name="id" type="xsd:ID"/>
            <xsd:attribute name="port" type="xsd:integer"/>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
